In [33]:
import pandas as pd

#트랜잭션 테이블 로드
df1 = pd.read_excel(u'판매 데이터.xlsx', u'판매 이력')
df2 = pd.read_excel(u'판매 데이터.xlsx', u'상품')
df3 = pd.merge(df1, df2, on=u'상품ID')

df3

htable = df3.pivot_table(u'금액', [u'점포ID', u'상품명'], u'매출일', aggfunc='sum')
htable

매출일        2017-01-01  2017-02-01  2017-03-01
점포ID 상품명
11   상품 A     57500.0         NaN         NaN
     상품 B      2400.0      5800.0     12400.0
12   상품 A         NaN     57500.0     60000.0

In [30]:
def category(row):
    return {101:u'식료품'}.get(row[u'상품ID'], u'그 외')
df1[u'상품 카테고리'] = df1.apply(category, axis=1)

df_sort = df1.sort_values('매출일')
df_sort.head(2)

         매출일  점포ID  상품ID  고객ID     금액 상품 카테고리
0 2017-01-01    11   101  1001  57500     식료품
3 2017-01-01    11   102  1002   2400     그 외